.app-header {
    background-color:#263238;
    height: 68px;
}

.headerWords{
    color: #fff;
    padding-top: 18px;
    padding-bottom: 12px;
    padding-left: 20px;
    vertical-align: center;
    float: left;
    font-size: 20px;
}